* {
  font-family: Clistoga, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-group {
  margin-bottom: 20px;
}

#generalError {
  background-color: #ffdada;
  color: red;
  padding:10px;
  border-radius: 4px;
  display: none; /*initially null*/
  text-align: center;
}

#registration-form {
  margin: 10px;
}